<div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color:rgba(0,0,0,.8);">

    {{#if isGameHost }}

        <div class="my-3 py-3"> 
            <h2 class="display-5 text-white">{{question.question_text}}</h2> 
            <p class="lead text-white" >
                Answer Timer: <span id="answer-timer">120</span> | 
                Answers Submitted: <span id="answer-counter">{{answersSubmitted.length}}</span>
            </p> 
        </div>

        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;padding:20px;">

        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5"> 
           
           {{#each answers }}

            <div class="col"> 
                <div class="card card-cover  overflow-hidden text-bg-dark rounded-4 shadow-lg" style=""> 
                    <div class="d-flex flex-column p-5 pb-3 text-shadow-1 card-text-custom card-text-custom-selectable"> 
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-1"><span class="answer-text">{{ this }}</span></h3> 
                    </div> 
                </div> 
            </div> 
                        
            {{/each}}
                          
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>

            const lobbyId = {{lobbyInfo.id}};
            const gameSessionId = {{gameSession.id}};
            const socket = io();
            const isRoomOwner = {{isGameHost}} ;
            const numberOfPlayers = {{allPlayers.length}};

            // Join the lobby room
            socket.emit("joinLobby", lobbyId);


            const initiateAnswerRevealCeremony = function(){
                $.ajax({
                    url: `/lobby/${lobbyId}/play-game/${gameSessionId}/answer-reveal-ceremony`,
                    method: "POST",
                    success: function(data){
                        console.log(data);
                    },
                    error: function(error){
                        console.log(error);
                    }
                })
            }

            // Listen for notifications
            socket.on("answer-submitted", (data) => {
                let answersCount = Number($("#answer-counter").html());
                $("#answer-counter").html(answersCount+1);
                if (answersCount+1 >= numberOfPlayers){
                    initiateAnswerRevealCeremony();
                }
            });

            socket.on("answer-reveal-ceremony", (data) => {
                window.location.href = data.url;
            })

            $(document).ready(function(){
                let remainingTime = 120; 
                const interval = setInterval(() => {
                    remainingTime--;
                    $("#answer-timer").html(remainingTime);
                    if (remainingTime <= 0) {
                        clearInterval(interval);
                        initiateAnswerRevealCeremony();
                    }
                }, 1000);
            });

        </script>


    {{else}}

        <div class="my-3 py-3"> 
            <h2 class="display-5 text-white">Submit Your Best Answer!</h2> 
        </div>

         <div class="row row-cols-1 row-cols-lg-1 align-items-stretch g-4 py-5"> 
            {{#each answers }}

            <div class="col"> 
                <div class="card card-cover  overflow-hidden text-bg-dark rounded-4 shadow-lg" style=""> 
                    <div class="d-flex flex-column p-5 pb-3 text-shadow-1 card-text-custom card-text-custom-selectable" data-answer="{{ this }}"> 
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow-1"><span class="answer-text">{{ this }}</span></h3> 
                    </div> 
                </div> 
            </div> 
                        
            {{/each}}

            <form action="/lobby/{{lobbyInfo.id}}/play-game/{{gameSession.id}}/submit-answer" method="POST">
                <input type="hidden" value="" name="answer" id="answer" />
                <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="Submit Answer" disabled="disabled" id="submit-btn"/> 
            </form>

        </div>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            $(document).ready(function(){
                $(".card-text-custom-selectable").on("click", function(e){
                    $("#answer").val("");
                    $(".card-text-custom-selected").removeClass("card-text-custom-selected");
                    
                    $(this).addClass("card-text-custom-selected");
                    $("#answer").val($(this).data("answer"));
                    $("#submit-btn").prop("disabled", false);
                })
            });

            const lobbyId = {{lobbyInfo.id}};
            const gameSessionId = {{gameSession.id}};
            const socket = io();
            const isRoomOwner = {{isGameHost}} ;
            const numberOfPlayers = {{allPlayers.length}};

            // Join the lobby room
            socket.emit("joinLobby", lobbyId);

            socket.on("answer-reveal-ceremony", (data) => {
                window.location.href = data.url;
            })

        </script>

    {{/if}}
</div>